<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Create a file appender for a log in the application's data directory -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/data/data/com.ctmy.expensemanager/files/log/expense_mngr.log</file>

        <encoder>
            <pattern>%d{M/d/yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Write INFO  (and higher-level) messages to the log file -->
    <root level="INFO">
        <appender-ref ref="file" />
    </root>
</configuration>